server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tradetrackr
    username: postgres
    password: 
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.format_sql: true
      hibernate.show_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs.path: /v3/api-docs
  swagger-ui.path: /swagger
